<h1>Listing services</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Picture</th>
  </tr>

<% for item in @items %>
  <tr>
    <td><%=h item.name %></td>
    <td><%=h item.description %></td>
    <td><%=h item.picture %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_service_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New service', new_service_path %>
